*.swp
package-lock.json
__pycache__
.pytest_cache
.venv
venv/
.DS_Store
.env
*.egg-info
.aws
external
.idea/
.vscode/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# CDK asset staging directory
.cdk.staging
cdk.out
aws
awscliv2.zip
cdk.context.json

# Individual development CDK apps
app*dev.py

# Sphinx documentation
docs/build/
